#main-header {
  text-align: center;
  color: #ffffff;
  background-color: #008080;
  cursor: pointer;
}

#footer-section {
  text-align: center;
  font-weight: 300;
  text-transform: none;
}

.ui.label {
  width: 100px;
  text-align: center;
  font-weight: 400;
}

.ui[class*="right labeled"].input input + .label {
  width: 60px;
  font-weight: 400;
}

.ui.teal.ribbon.label {
  background-color: #00cc99;
}

.ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
  width: 18.5%;
}

.nth {
  font-size: 10px;
}

.ui.menu .active.item.mathMenu {
  background: #008080;
  color: #ffffff;
}

.ui.teal.label.cache {
  width: 300px;
}

.ui.vertical.animated.teal.button.trash {
  width: 77px;
}

.menu > .item {
  width: auto;
}

@media (max-width: 320px) {
  .ui.basic.label {
    width: 30vw;
  }

  .ui.vertical.animated.teal.button {
    padding: 3vw 6vw;
    margin: 0 0.2vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0 0.72vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift, .ui.vertical.animated.teal.button.shift {
    padding: 3vw 4.5vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift {
    margin: 0 0.72vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button {
    padding: 3vw 6vw;
    margin: 0 0.2vw;
  }
}
@media (min-width: 321px) and (max-width: 414px) {
  .ui.basic.label {
    width: 27vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button {
    padding: 3vw 6vw;
    margin: 0 0.25vw;
  }

  .ui.vertical.animated.teal.button {
    padding: 3vw 6vw;
    margin: 0 0.25vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0 0.69vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift, .ui.vertical.animated.teal.button.shift {
    padding: 3vw 4.5vw;
  }

  .ui.mini.vertical.animated.teal.button.trash {
    padding: 3vw 3vw;
  }
}
@media (max-width: 600px) {
  .ui.teal.ribbon.label {
    display: none;
  }

  .ui.teal.right.corner.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    float: right;
  }

  .ui.secondary.segment.top {
    margin-top: 30px;
  }

  .ui.mini.vertical.animated.teal.button.trash {
    padding: 3vw 3vw;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .ui.teal.ribbon.label {
    display: none;
  }

  .ui.teal.right.corner.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    float: right;
  }

  .ui.secondary.segment.top {
    margin-top: 30px;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin-left: 4.7px;
  }

  .item {
    width: 12%;
  }

  .ui.vertical.animated.basic.teal.button {
    padding: 1vw 2vw;
    margin: 0.05vw;
  }

  .ui.vertical.animated.teal.button {
    padding: 1vw 2vw;
    margin: 0.05vw;
  }

  .ui.vertical.animated.basic.red.button {
    padding: 1vw 2vw;
    margin: 0.05vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    padding: 1vw 1.5vw;
    margin: 0.25vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift {
    padding: 1vw 1.5vw;
  }

  .ui.vertical.animated.basic.teal.button.shift {
    padding: 1vw 1.5vw;
  }

  .right.menu {
    display: none !important;
  }

  .item {
    width: 12.96vw;
  }
}
/*@media (min-width: 801px) and (min-width: 1024px){
    .ui.teal.top.attached.label {
        display: none;
    }

    .ui.segments.calc {
        width: 25.5vw;
        position: fixed;
    }

    .help.circle.outline.icon.mobile {
        display: none;
    }

    .ui.teal.ribbon.label {
        margin-top: 11px;
        margin-bottom: 11px;
        margin-left: 14px;
    }

    .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
        width: 18.5%;
    }

    .ui.vertical.animated.basic.teal.button.include {
        margin-left: 2.5px;
    }

}*/
@media (min-width: 801px) and (max-width: 1023px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .ui.segments.calc {
    width: 30vw;
    position: fixed;
  }

  .item {
    width: 10.78vw;
    padding: 0 5vw;
  }

  .right.menu {
    display: none !important;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button {
    padding: 1vw 2vw;
    margin: 0.08vw;
  }

  .ui.vertical.animated.teal.button {
    padding: 1vw 2vw;
    margin: 0;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.23vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift {
    padding: 1vw 1.3vw;
  }

  .ui.vertical.animated.basic.teal.button.shift {
    padding: 1vw 1.5vw;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .right.menu {
    display: none !important;
  }

  .item {
    width: 13vw;
  }

  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .ui.segments.calc {
    width: 32.5vw;
    position: fixed;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button {
    padding: 1vw 2vw;
    margin: 0.1vw;
  }

  .ui.vertical.animated.teal.button {
    margin: 0.1vw;
    padding: 1vw 2vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.25vw;
    padding: 1vw 2vw;
  }

  .ui.vertical.animated.basic.teal.button.include.shift {
    padding: 1vw 1.5vw;
  }

  .ui.mini.vertical.animated.teal.button.trash {
    padding: 1vw;
  }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  .item {
    width: 11vw;
  }

  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .search.link.icon {
    padding-right: 11vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button, .ui.vertical.animated.teal.button {
    margin: 0.13vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.23vw;
  }

  .ui.segments.calc {
    width: 31.8vw;
    position: fixed;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button, .ui.vertical.animated.teal.button {
    margin: 0.12vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.21vw;
  }

  .ui.segments.calc {
    width: 29.8vw;
    position: fixed;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button, .ui.vertical.animated.teal.button {
    margin: 0.12vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.21vw;
  }

  .ui.segments.calc {
    width: 28.3vw;
    position: fixed;
  }
}
@media (min-width: 1600px) and (max-width: 1679px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 0.85vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button, .ui.vertical.animated.teal.button {
    margin: 0.09vw;
  }

  .ui.vertical.animated.basic.teal.include {
    margin: 0.18vw;
  }

  .ui.segments.calc {
    width: 25.4vw;
    position: fixed;
  }
}
@media (min-width: 1680px) and (max-width: 1700px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 0.85vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.basic.red.button, .ui.vertical.animated.teal.button {
    margin: 0.1vw;
  }

  .ui.vertical.animated.basic.teal.include {
    margin: 0.183vw;
  }

  .ui.segments.calc {
    width: 24.2vw;
    position: fixed;
  }
}
@media (min-width: 1701px) and (max-width: 2400px) {
  .ui.teal.top.attached.label {
    display: none;
  }

  .help.circle.outline.icon.mobile {
    display: none;
  }

  .ui.teal.ribbon.label {
    margin-left: 0.71vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }

  .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.red.button, .ui.vertical.animated.teal.button {
    margin: 0.08vw;
  }

  .ui.vertical.animated.basic.teal.button.include {
    margin: 0.15vw;
  }
}

/*# sourceMappingURL=index.css.map */
